.register{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content:center;
    align-items: center;
}

.reg{
    border: 1px solid black;
    background-color: white;
    height: 550px;
    width: 80%;
    max-width: 450px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reg h1{
    font-size: 1.5rem;
    margin: 0px;
    color: royalblue;
}

.reg input{
    background-color: rgb(236, 238, 240);
    height: 30px;
    width: 350px;
    border: none;
    text-align: center;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    
}

.logo{
    height: 90px;
    width: 130px;  
}

.reg button{
    background-color: royalblue;
    color: white;
    font-size: 18px;
    height: 32px;
    width: 100px;
    border-radius: 5px;
}

.reg p{
    font-size: 16px;
    margin: 0;
    padding: 0px;
}